# Análise Exploratória de Dados usando Pandas

EDA é o processo de obter, preparar e apresentar dados com o objetivo de obter insights que direcionem o negócio de maneira eficiente e eficaz.

<img src="assets/data_prep_pipeline.png" />

É o processo mais demorado, visto que exige atenção especial para preparar dados corretamente a fim de não produzir resultados enviesados ou mesmos incorretos. 

Ao longo do processo exploratório, vamos estudar vários conceitos extremamente úteis para lidar com dados de maneira geral. Esses conceitos, que serão transformados em funções, poderão compor nossa biblioteca pessoal de análise de dados

Documentação oficial do Pandas para consulta: [link](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('bases/Space_Missions.csv')
print(data.columns)
print()
data.head()

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Company Name', 'Location', 'Datum',
       'Detail', 'Status Rocket', ' Rocket', 'Status Mission'],
      dtype='object')

,Unnamed: 0.1,Unnamed: 0,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [3]:
data['Company Name'].describe()

count          4324
unique           56
top       RVSN USSR
freq           1777
Name: Company Name, dtype: object

Ao olhar nosso dataset, percebemos algumas colunas que não ajudarão em nossa análise, podendo ser removidas. As demais, todas contêm informações úteis que ou podemos usá-las diretamente ou manipulá-las para que possam ser usadas no processo exploratório.

## ToDo 1

Elimine as duas primeiras colunas do Dataset. Utilize a mesma variável para armazenar o resultado da operação.

In [4]:
# Resposta
data.drop(['Unnamed: 0','Unnamed: 0.1'], axis = 1, inplace=True)
data.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

Os nomes das colunas precisam ser significativos para que possamos usá-las corretamente. Nesse dataset, a maioria dos nomes é de fácil compreensão, com exceção da coluna "Rocket", que representa o custo da missão (não apenas do foguete) em milhões de dólares. Assim, vamos renomear as colunas para tornar seus nomes mais compreensíveis.

## ToDo 2
Renomeie o nome das colunas conforme a lista abaixo:

> Company Name => company_name

> Location => location

> Datum => date

> Detail => detail

> Status Rocket => status_rocket

> Rocket = cost_mission

> Status Mission => status_mission

In [5]:
# Resposta
data.rename(columns={'Company Name':"company_name", 'Location':'location',"Datum":"date","Detail":'detail',
                   'Status Rocket':"status_rocket",' Rocket':"cost_mission", 
                   'Status Mission':"status_mission"}, inplace=True)
data.head()

#df.rename(columns=lambda x: x.strip())

,company_name,location,date,detail,status_rocket,cost_mission,status_mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

O método info retorna informações sobre os tipos de dados presentes no nosso dataset

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_name    4324 non-null   object
 1   location        4324 non-null   object
 2   date            4324 non-null   object
 3   detail          4324 non-null   object
 4   status_rocket   4324 non-null   object
 5   cost_mission    964 non-null    object
 6   status_mission  4324 non-null   object
dtypes: object(7)
memory usage: 236.6+ KB

O método describe() fornece uma visão geral de como estão os dados. Entretanto, nosso dataset é composto em sua grande parte por dados categóricos. Ainda assim, o método describe() consegue apresentar informações muito relevantes.

In [7]:
data.describe()

,company_name,location,date,detail,status_rocket,cost_mission,status_mission
count,4324,4324,4324,4324,4324,964,4324
unique,56,137,4319,4278,2,56,4
top,RVSN USSR,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Wed Nov 05, 2008 00:15 UTC",Cosmos-3MRB (65MRB) | BOR-5 Shuttle,StatusRetired,450.0,Success
freq,1777,235,2,6,3534,136,3879

Valores faltantes são um problemas ao realizarmos Análise Exploratória de Dados. Existem algumas abordagens que podemos utilizar para tratar desse problema:

> Remoção da linha que contenha elementos faltantes

> Sustituição do valor faltante pela média dos valores da coluna

> Substituição do valor faltante pela mediana dos valores da coluna

In [8]:
data['cost_mission'].unique()

array(['50.0 ', '29.75 ', nan, '65.0 ', '145.0 ', '64.68 ', '48.5 ',
       '90.0 ', '46.0 ', '28.3 ', '29.15 ', '7.5 ', '30.8 ', '5.3 ',
       '12.0 ', '112.5 ', '120.0 ', '153.0 ', '200.0 ', '85.0 ', '115.0 ',
       '41.8 ', '21.0 ', '31.0 ', '40.0 ', '164.0 ', '62.0 ', '37.0 ',
       '350.0 ', '39.0 ', '47.0 ', '35.0 ', '69.7 ', '109.0 ', '45.0 ',
       '123.0 ', '130.0 ', '25.0 ', '56.5 ', '15.0 ', '29.0 ', '80.0 ',
       '140.0 ', '55.0 ', '59.5 ', '450.0 ', '7.0 ', '20.14 ', '133.0 ',
       '190.0 ', '135.0 ', '20.0 ', '136.6 ', '5,000.0 ', '1,160.0 ',
       '59.0 ', '63.23 '], dtype=object)

## ToDo 3

Julgue as 3 abordagens e diga qual delas você escolheria, justificando sua resposta:

### Resposta

## ToDo 4

Trate os valores faltantes de acordo com a abordagem escolhida:

In [21]:
import time

In [23]:
start = time.time()
data['cost_mission2'] = data['cost_mission'].apply(lambda x: str(x).replace(',',''))
data['cost_mission2']=data['cost_mission2'].astype(float)
data['cost_mission2'].fillna(data['cost_mission2'].median(), inplace=True)
end = time.time()
print('tempo decorrido: ',end-start, 'segundos')

tempo decorrido:  0.00688481330871582 segundos

In [24]:
# Resposta
start = time.time()
data['cost_mission']=data['cost_mission'].str.replace(',','')
data['cost_mission']=data['cost_mission'].astype(float)
data['cost_mission'].fillna(data['cost_mission'].median(), inplace=True)
end = time.time()
print('tempo decorrido: ',end-start, 'segundos')

tempo decorrido:  0.00604701042175293 segundos

In [ ]:
data.head()

Percebemos que os valores da coluna status_rocket apresenta duas possibilidades de valores. São elas:

In [ ]:
data['status_rocket'].unique()

## ToDo 5
Ajuste os valores dessa coluna para que eles sejam Active ou Retired, apenas.

In [ ]:
#Resposta
data['status_rocket'] = data['status_rocket'].str.replace('Status','')
data.head(7)

In [ ]:
data['status_rocket'].unique()

## ToDo 6

Crie duas colunas: Year e Country. Extraia a informação do ano de lançamento da coluna Date e a informação do País que lançou o foguete da coluna Location

In [ ]:
#Resposta
data['date'] = pd.to_datetime(data['date'], utc=True)

# Extract the launch year
data['Year'] = data['date'].apply(lambda datetime: datetime.year)

# Extract the country of launch
data["Country"] = data["location"].apply(lambda location: location.split(", ")[-1])
data.head(3)

## ToDo 7 - Opcional

Crie dois gráficos a partir das colunas criadas no ToDo 6:

1. um que mostre o total de lançamentos por anos

2. e outro que mostre, de maneira descendente, o total de vezes que um pais fez um lançamento. Dica: Adicione num pandas DataFrame o país numa coluna e a quantidade de lançamentos em outra. Depois, ordene os valores pela quantidade de lançamentos e insira, em formato numpy array, os dados para criar um gráfico.

In [ ]:
year = []
qtde_launch = []
by_year = data.groupby(by='Year')
for name, group in by_year:
    year.append(name)
    qtde_launch.append(len(group))
    
plt.figure(figsize=(20,10))
plt.bar(year,qtde_launch)
plt.xticks(year, rotation = 'vertical')
plt.ylabel('Número de Lançamentos')
plt.title('Quantidade de Foguetes Lançados por Ano')

In [ ]:
country = []
qtde_launch_by_country = []
by_country = data.groupby(by='Country')
for name, group in by_country:
    country.append(name)
    qtde_launch_by_country.append(len(group))
    
df = pd.DataFrame({'Pais':country,'Lancamentos':qtde_launch_by_country})
df.sort_values(by='Lancamentos', inplace=True, ascending=False)
    
plt.figure(figsize=(20,10))
plt.bar(np.array(df['Pais']),np.array(df['Lancamentos']))
plt.xticks(country, rotation = 'vertical')
plt.ylabel('Número de Lançamentos')
plt.title('Quantidade de Foguetes Lançados por País')

In [ ]:
data.groupby('Country').size().sort_values(ascending = False).plot.bar()

In [ ]:
data[data['Country']=='Brazil']